.custom-tooltip {
    overflow: visible;
    background-color: #dbd1d1; /* Light gray background for the tooltip */
    border: none; /* Add a border for better separation */
    border-radius: 10px; /* Rounded corners for the tooltip */
    box-shadow: 0 10px 40px rgb(49, 50, 48);
  }
  
  .custom-tooltip .panel-heading {
    background: rgb(133,171,231);
    background: linear-gradient(90deg, rgb(155, 185, 235) 9%, rgba(53,102,181,1) 55%);
    color: #1e1b1b; /* White text color for the header */
    padding: 10px;
    font-family: system-ui;
  }

  .custom-tooltip .eta-heading {
    background: rgb(230,232,115);
background: linear-gradient(90deg, rgb(231, 233, 133) 9%, rgba(181,152,53,1) 55%);
    color: #1e1b1b; /* White text color for the header */
    padding: 10px;
    font-family: system-ui;
  }
  .custom-tooltip .pla-heading {
    background: rgb(196,93,104);
background: linear-gradient(90deg, rgb(241, 104, 117) 11%, rgb(231, 30, 43) 57%);
    color: #1e1b1b; /* White text color for the header */
    padding: 10px;
    font-family: system-ui;
  }
    
  
  .custom-tooltip .panel-body {
    padding: 10px;
  }
  
  .custom-tooltip p {
    margin: 5px;
    white-space: nowrap;
  }
  
  .custom-tooltip p:first-of-type {
    font-weight: bold;
  }
  