@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* *::-webkit-scrollbar {
  display: none;
} */

/* Add this CSS to your stylesheet */
.tooltip {
  position: relative;
  z-index: 10;
  visibility: hidden;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Black with 70% opacity for glass effect */
  color: white; /* Text color */
  padding: 8px; /* Padding around content */
  border-radius: 4px; /* Rounded corners */
  font-size: 14px;
  pointer-events: none; /* Allow interactions with elements beneath tooltip */
}

svg {
  font-family: Sans-Serif, Arial;
}
.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
}

.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}

/* react-toast tooltip css */

/* Add this CSS in your component's CSS file or a global stylesheet */
.custom-success-toast {
  background-color: green;
  color: white;
  border-radius: 5px;
  /* Add other custom styles as needed */
}

.custom-error-toast {
  background-color: red;
  color: white;
  border-radius: 5px;
  /* Add other custom styles as needed */
}
