.ag-theme-alpine{
  --ag-header-foreground-color: rgb(12, 12, 12);

  .ag-header {
    background: rgb(234, 165, 195);
background: radial-gradient(circle, rgb(238, 166, 197) 0%, rgb(148, 192, 241) 100%);
  }

  --ag-font-size: 14px;

  --ag-selected-row-background-color: rgba(131, 239, 156, 0.819);

  --ag-range-selection-border-color: rgb(0, 0, 0);

  --ag-range-selection-border-style: solid;

  --ag-range-selection-background-color: rgba(244, 149, 67, 0.893);

  --ag-card-radius: 10px;
  --ag-card-shadow: 0 10px 40px rgb(13, 14, 14);
  --ag-popup-shadow: var(--ag-card-shadow);
  --ag-tab-min-width: 350px;

}


.red-bg {
  background-color: red;
}

.green-bg {
  background-color: green;
}

.blue-bg {
  background-color: blue;
}

.highlighted {
  background-color: yellow;
}

.word-wrap {
  white-space: normal !important;
}

/* Add 3D styles to your button classes */

.purple-button,
.red-button,
.green-button,
.yellow-button,
.blue-button,
.orange-button,
.gray-button {
  color: #fff;

  padding: 3px;

  border: none;

  border-radius: 5px;

  cursor: pointer;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 16px;

  margin: 4px 2px;

  transition-duration: 0.4s;

  box-shadow: 2px 2px 4px rgba(3, 3, 3, 0.2);
}

.purple-button {
  background-color: rgb(234, 79, 240);
}

.red-button {
  background-color: rgb(238, 128, 128);
}

.green-button {
  background-color: rgb(100, 242, 100);
}

.yellow-button {
  background-color: rgb(239, 239, 114);

  color: black;
}

.blue-button {
  background-color: rgb(140, 140, 239);
}

.orange-button {
  background-color: rgb(249, 157, 111);
}

.gray-button {
  background-color: rgb(112, 251, 230);
}

/* Adjust the hover effect for the buttons */

.purple-button:hover,
.red-button:hover,
.green-button:hover,
.yellow-button:hover,
.blue-button:hover,
.orange-button:hover,
.gray-button:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);

  transform: translate(-1px, -1px);
}

/* Styles for the blue round icon */

.blue-round-icon {
  background-color: rgb(128, 128, 231);

  color: rgb(255, 255, 255);

  /* color: black; */

  width: 150px;

  height: 30px;

  text-align: center;

  line-height: 30px;

  cursor: pointer;

  border: 1px solid #095b9d; /* Add border for 3D effect */

  border-radius: 5px; /* Add border-radius for rounded corners */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced box shadow for depth */

  transition: transform 0.2s ease-in-out; /* Add a smooth transform animation on hover */

  /* Hover effect */

  &:hover {
    transform: translateY(
      -2px
    ); /* Move the button up slightly on hover for click effect */
  }

  /* Active (clicked) effect */

  &:active {
    transform: translateY(1px); /* Move the button down slightly when clicked */
  }
}

/* Styles to initially hide the category buttons container */

.categoryButtonsContainer {
  display: none;
}

/* Styles to make the category buttons container visible when 'visible' class is applied */

.categoryButtonsContainer.visible {
  display: flex;

  flex-wrap: wrap; /* Ensures buttons wrap within the container */

  justify-content: flex-end;

  padding-right: 20px;
}

/* Styles for the header-right container */

.header-right {
  display: flex;

  justify-content: space-between;

  align-items: center;

  /* padding: 10px; */
}

.filter-container {
  display: flex;

  align-items: center;
}

.filter-input {
  /* Your filter input styles */

  margin-right: 10px; /* Add spacing between input and count */
}

/* Add styles to your h3 header tag */


.mainWrapper {
  display: grid;

  grid-template-rows: auto 1fr; /* Header takes auto height, table takes remaining space */

  max-width: 100%;

  height: 100%;

  overflow: hidden;
}


.col1 {
  background-color: #f39f56f6; 
}
.col2 {
  background-color: #7fbd72; 
}
.col3 {
  background-color: #2eada9cf; 
}
.col4 {
  background-color: #ec9bf0f2; 
}
.col5 {
  background-color: #b086f0e8; 
}
.col6 {
  background-color: #5a92d7; 
}
.col7 {
  background-color: #116178; 
}
