.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    padding: 5px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid black; */
    text-align: center;
    font-size: 15px;
  }

  .btn-lef {
    background-image: linear-gradient(to right, #FF4E50 0%, #F9D423  51%, #FF4E50  100%);
    margin: 10px;
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(248, 249, 243);            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-lef:hover {
    background-position: left center;
    color: #fff;
    text-decoration: none;
  }
           
           
  .btn-grad {
    background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%);
    margin: 10px;
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
           
           
  .btn-txt {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    margin: 10px;
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-txt:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

  .subbutton{
    background-color:chocolate;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px; 
    width: 100px;
    border: 1px solid;
  }
  .subbutton:hover{
    background-color: rgb(97,187,97);
  }